
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyBxEpy37apL45F2gHJkPFmZCsdU4wqjLr09CIUg0IzWxSKov-" onload="initMG()" width="1" height="1">
<div id="mv" class="mainpart">
            <div id="info" class="info">
                <!-- <div class="btn right" onclick="menu()">MENU</div> -->
                <h3>Spelinformatie<div class="btnSmall left slide alssmal">x</div></h3>
               
                <div id="infotext">
                <p><b>Doel van het spel:</b> probeer in een zo kort mogelijke tijd alle verborgen <i class="fas fa-bomb"></i> op te sporen.</p>
                <p><b>spelregels:</b> Klik met je rechtermuisknop om een vakje te markeren met een <b class="r1"><i class="fas fa-flag"></i></b> als waarschijnlijk een bom</p>
                <p>Na een tweede klik markeer je met een <b class="r2">?</b> als je het niet zeker weet.</p>
                <p>Na een derde klik verwijder je de markering.</p>
                <p>Klik met je linkermuisknop om een vakje te openen, een eventueel cijfer geeft aan hoeveel aangrenzende vakjes een bom bevat.</p>
                <p>Speel je alle vakjes om de bommen leeg heb je <b class="r1">gewonnen</b> druk je op een bom dan heb je <b class="r2">verloren</b>.</p>
                </div>



            </div>
            
                   
                    
            <div id="main">
                <div id="bommen"></div>
                <div id="field"></div>
            </div>
            <div id="scores">
                <div id="score"></div>
                <div id="eigenscore"></div>
            </div>
</div>
<!-- <p>test  {{parentComponent.appColor}}</p> -->

