
<img src="https://tpc.googlesyndication.com/simgad/977311001918050084" onload="initMG()" width="100" height="132">
<div id="mv" class="mainpart">
            <div id="info" class="info">
                <!-- <div class="btn right" onclick="menu()">MENU</div> -->
                <h3>Spelinformatie</h3>
                <p>Hier komt nog een heleboel spelinformatie. Hoe moet je het spel spelen en hoe gebruik je de score tabellen.</p>
            </div>
            <div id="main">
                <div id="field"></div>
            </div>
            <div id="scores">
                <div id="score"></div>
                <div id="eigenscore"></div>
            </div>
</div>

