<h1>{{title}}</h1>

<form  >
<input #txtBaseAantal="ngModel" required type="number" min="0" [()] name="aantal" [(ngModel)] = "aantalBase">

<select [(ngModel)]="keuzeBase">
  <option *ngFor="let b of baseList" [ngValue]="b">{{b.base}}</option>
</select>
<input type="button" value="Converteren" (click)="converteer();">
<select [(ngModel)]="keuzeConvert">
    <option *ngFor="let c of convertList" [ngValue]="c">{{c.base}}</option>
</select>
<input #txtResult="ngModel"  [()] name="result" [(ngModel)] = "result" disabled>

</form>
<p>bron: <a href="http://datasets.antwerpen.be/v4/gis/secundaireschool.json">http://datasets.antwerpen.be/v4/gis/secundaireschool.json</a></p>
