<h2>Broodjes Oefening</h2>
<form #f="ngForm">
  <label for="txtBroodje">Type Broodje: </label> 
  <select *ngIf = "broodjesKaart.length>0" id="txtBroodje" name="naambroodje" [(ngModel)]="broodje">
    <option *ngFor= "let br of broodjesKaart" [ngValue]="br">{{ br.naam }}</option>
</select>



<label for="txtAantal"> Aantal: </label>
<input type="number"  id="txtAantal" [(ngModel)]="aantal" name="txtAantal" ><br/>
<button (click)="bestellen()">Bestellen</button> 
</form>
<div *ngIf="leeftijd < 18">Kom binnen enkele jaren nog eens terug</div>

<table *ngIf="bestelling.bestellingArray.length > 0">
    <tr><td>Naam van de broodje</td><td>Aantal</td><td>Prijs</td></tr>
    <tr *ngFor= "let br of bestelling.bestellingArray" >
    <td>{{ br.type.naam }}</td>
    <td>{{ br.aantal }}</td>
    <td>{{ br.type.prijs | currency:"EUR" }}</td>
    </tr>

</table>
<div >
    Totaal te betalen:&nbsp;{{ bestelling.totaalprijs | currency:"EUR"}}
</div>