<div class="header"  *ngIf = "currentUser">
    <a href="" class="logo">{{currentUser.firstName}}'space</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
      <li><a [routerLink]="['/home']">Home</a></li>
        <li><a [routerLink]="['/takenlijst']">Mijn TakenLijst</a></li>
        <li><a [routerLink]="['/mijnenveger']">Speel Mijnenveger</a></li>
        <li><a [routerLink]="['/opmaak']" >Opmaak</a></li>
        <li><a [routerLink]="['/login']">Logout</a></li>
    </ul>
  </div>



<!-- <div class="mainwrapper">
  <div *ngIf = "currentUser">
   

  <nav>
    <a [routerLink]="['/home']">Home</a>
    <a [routerLink]="['/takenlijst']">Mijn TakenLijst</a>
    <a [routerLink]="['/mijnenveger']">Speel Mijnenveger</a>
    <a [routerLink]="['/login']">Logout</a>
  </nav>  
</div>
</div> -->