<p>
  opmaak works!
</p>
<h1 [style.color]="getColor(myColor)" [style.background]="getColor(colorBG)" >{{title}}</h1>
<form #f="ngForm"  [ngStyle]="{'background-image': 'url(' + bgSelected.filelink + ')'}">
  <div  >
    <label for="idColor">Favorite color: {{myColor}}</label> 
    <input type="color" id="idColor" name="nameColor" [(ngModel)]="myColor"  >
  </div>
  <div>
    <label for="idBGColor">Background color: {{colorBG}}</label> 
    <input type="color" id="idBGColor" name="nameBGColor" [(ngModel)]="colorBG" >
  </div>
  <div>
    <label for="idFont">Lettertype:  {{myFont}}</label> 
    <select *ngIf = "fontKaart.length>0" id="idFontBroodje" name="nameFont" [(ngModel)]="myFont">
      <option *ngFor= "let fnt of fontKaart" [ngValue]="fnt" value='{{ fnt.fntlink }}'>{{ fnt.fntname }}</option>
    </select>
  </div>
  <div>
    <label for="idBG">Background image: <!-- {{bgSelected.sfeername}}, {{bgSelected.filename}},{{bgSelected.filelink}}--></label> 
    <div *ngIf = "bgKaart.length>0" id="idBG" name="nameBG"  class="bg-selector">
      <div *ngFor= "let bg of bgKaart" class="bg-item">
        <input id='{{ bg.sfeername }}' type="radio" name="sfeername"/>
        <label class='{{ bg.maakKlasse}}' for='{{ bg.sfeername }}' (click)="bgSelected = bg"></label>
      </div>

    </div>
  </div>
  <div>
    <button (click)="styleBewaren()">Bewaren</button>
  </div> 
  <div>
      <button (click)="styleReset()">Reset style</button>
  </div>
</form>

<!-- [ngStyle]="{'background-image': 'url(' + photo + ')'}" -->