

.formcontainer{ 
    width:400px;
}

.formlabel{
    box-sizing: border-box;
    float:left;
    width:50%;
    margin:5px 0px;
    text-align: right;
    padding:5px;
    
}
    
.forminput {
    float:left;
    box-sizing: border-box;
    width:50%;
    margin: 5px 0px;
    padding:5px;
}
.form-radiogroup {
    display:inline-block;
    } 
.form-radiogroup> label {
    display:block;
}

.formbutton {
    
    padding:5px;
    box-sizing: border-box;
    width:50%;
    margin-left: 50%;
    
    float:left;
    }
    