.formcontainer { 
    width:400px;
    display: grid;
    grid-template-columns: 1 1;
    grid-row-gap: 5px; /*afstand stt lijnen*/
}
.formbutton {
    grid-column: 2/3;/* stavit element nachinaja so 2 linii v gride i zakanchivaet pered 3*/

} 

.formlabel{
    text-align: right;
    padding-right:5px;
    
}
.form-radiogroup>label {
    display: block;  
}  


