$voorgrondkleur: #ff3340;
$pagina_breedte: 80%;
$main_breedte:70%;
$base: #910000;
$light-base: lighten($base, 50%);
$dark-base: darken($base,50%);
@import 'mixins';
header{
    background-color: hsl(180,100,40%);
    color: hsl(0,80%,50%);
    margin-bottom: 5px auto;
    width: $pagina_breedte;
    .menu {
        list-style: none;
        margin:0px;
        overflow: hidden;
         li {
            float: left;
            padding: 2px;
            &:after{
                content: '';
                @include arrow(right, 10 px, black);
            }
        }
    }
}
a{
    padding:2px;
    cursor: pointer;
    &:link {
        padding:2px;
        cursor: pointer;}
    &:hover{
        color:hsl(180,100%,70%);
        background-color: hsl ( 0, 90%, 70%);

    }
}
body{
    background-color: hsl(180, 20%, 30%);
    color : hsl(0,10%, 70%);
    }
    .wrapper{
    margin: 0 auto;
    width: $pagina_breedte;
    min-width: 768px;
    display: flex;
    flex-wrap: wrap;
    }
    main{
    // background-color: hsl(180,100%, 40%);
    // color: hsl(0,80%,50%);
    background-color: $dark-base;
    color: $base;
    box-sizing: border-box;
    padding: 10px 10px 20px;
    width: $main_breedte;
    @include sample;
    @include grey-border(5px,$color: yellow  )
    }
    aside{
    color: $base;
    background-color:$light-base;
    box-sizing: border-box;
    padding: 10px;
    width: 100% - $main_breedte;
    }