<!-- main app container -->

 <mymenu></mymenu>  

<div id="appContainter" [ngStyle]="{'height':'100vh','background-image': 'url(' + appBGimage + ')', '-webkit-background-size': 'cover','-moz-background-size': 'cover','-o-background-size': 'cover','background-attachment': 'fixed', 'background-size': 'cover','background-repeat':'no-repeat;' }" > 
 
    <div class="container">
           
        <div class="mainwrapper">
           
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    
</div>


<!-- "style="height:100vh; background-size:cover;background-repeat:no-repeat;"  [style.background]="appBG" [ngStyle]="{'background-image': 'url(' + appBGimage + ')', 'background-size':'cover','background-repeat':'no-repeat;'}" -->